
.menu{
    color: rgb(255, 255, 255);
    background: #000000;
    color: aliceblue;
    text-align: center;
    z-index: 10000;
    opacity: 90%;
}
.nav{
    background: #000000;
    color: aliceblue;
    z-index: 10000;
    opacity: 90%;
}