@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


button {
  padding: 5px;
  border-radius: 5px;
  background-color: #100c51;
  color: antiquewhite;
}
/* button:hover {
  background-color: #3b3b3b;
}
button:focus {
  background-color: #3b3b3b;
} */


@font-face {
  font-family: 'letra';
  src: url('../src/assets/letra.ttf') format('truetype');

}